body {
  background-color: #f4f4f4;
  color: #fff;
}
.canvas_wrapper {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.navigator {
  position: absolute;
  z-index: 1000;
  background: #222;
  opacity: 0.7;
  color: black;
  font-size: 1.5em;
  padding: 10px;
}
.canvas_wrapper .row {
  margin: 0;
}
.spot_wrapper {
  float: left;
}
img.drawing {
  width: 150px;
  height: 194px;
}
.canvas {
  height: 100%;
}
.spot {
  width: 150px;
  height: 194px;
}
.hovered .spot_wrapper {
  border: 1px solid #3D3D3D;
}
.spot_wrapper {
  width: 150px;
  height: 194px;
}
.drawing.connected {
  border: 1px solid #3D3D3D;
}
.drawing {
  display: block;
  width: 150px;
  height: 194px;
}
.artist,
.toolbar {
  display: none;
}
.hovered .artist {
  display: block;
  /*width:125%;*/
  padding: 6px 6px;
  background: #272727;
  border-top: 1px solid #3D3D3D;
  margin: 4px;
  text-align: center;
  opacity: 0.7;
}
.hovered .anchor {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background: url('loaders/pin.png') no-repeat;
}
.hovered .toolbar {
  display: block;
  position: absolute;
  z-index: 100;
  bottom: 4px;
  width: 150px;
  height: 28px;
  background: #272727;
  border-top: 1px solid #3D3D3D;
  line-height: 20px;
  overflow: hidden;
  text-align: center;
  padding: 3px 4px 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.hovered .toolbar a {
  color: #CCC;
  font-weight: 300;
  padding-left: 20px;
  text-decoration: none;
}
.hovered .toolbar a:hover {
  color: #fffff0;
}
.hovered .anchor:hover {
  width: 16px;
  height: 16px;
  background: url('loaders/pin2.png') no-repeat;
}
.hovered .artist:hover {
  opacity: 0.9;
}
.hovered .artist a {
  text-decoration: none;
  color: #CCC;
}
.drawingFrame {
  /*position:absolute;  */
  width: 150px;
  height: 194px;
}
.drawingCanvas {
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  height: 194px;
}
.drawingCanvas img.loader {
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
}
.connected img.loader {
  visibility: hidden;
}
.drawingInfo {
  position: absolute;
  height: 194px;
  width: 150px;
}
i.locked {
  display: none;
  color: #222;
  font-size: 8em;
  width: 72px;
  margin: 0 auto;
  margin-top: 25px;
}
.connected i.locked {
  display: block;
}
.modal-title {
  color: #222;
}
.am-fade.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.modal-backdrop.am-fade {
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlcy9zdHlsZS5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBRUUseUJBQUE7RUFDQSxXQUFBOztBQUtGO0VBQ0UsZUFBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBQUE7O0FBS0Y7RUFDRSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxnQkFBQTtFQUNBLFlBQUE7RUFDQSxZQUFBO0VBQ0EsZ0JBQUE7RUFDQSxhQUFBOztBQUtGLGVBQWdCO0VBRWQsU0FBQTs7QUFLRjtFQUNFLFdBQUE7O0FBR0YsR0FBRztFQUNELFlBQUE7RUFDQSxhQUFBOztBQUdGO0VBQ0UsWUFBQTs7QUFNRjtFQUNFLFlBQUE7RUFDQSxhQUFBOztBQUVGLFFBQVM7RUFDUCx5QkFBQTs7QUFFRjtFQUNFLFlBQUE7RUFDQSxhQUFBOztBQUdGLFFBQVE7RUFDTix5QkFBQTs7QUFJRjtFQUNFLGNBQUE7RUFDQSxZQUFBO0VBQ0EsYUFBQTs7QUFFRjtBQUFTO0VBQ1AsYUFBQTs7QUFHRixRQUFTO0VBQ1AsY0FBQTs7RUFFQSxnQkFBQTtFQUNBLG1CQUFBO0VBQ0EsNkJBQUE7RUFDQSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBOztBQUdGLFFBQVM7RUFDUCxrQkFBQTtFQUNBLGNBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLGdCQUFnQiw0QkFBaEI7O0FBR0YsUUFBUztFQUNQLGNBQUE7RUFDQSxrQkFBQTtFQUVBLFlBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLDZCQUFBO0VBQ0EsaUJBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0Esb0JBQUE7RUFDQSxzQkFBQTtFQUNBLDJCQUFBO0VBQ0EsOEJBQUE7O0FBR0YsUUFBUyxTQUFTO0VBQ2hCLFdBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0EscUJBQUE7O0FBRUYsUUFBUyxTQUFTLEVBQUM7RUFDakIsY0FBQTs7QUFFRixRQUFTLFFBQU87RUFDZCxXQUFBO0VBQ0EsWUFBQTtFQUNBLGdCQUFnQiw2QkFBaEI7O0FBR0YsUUFBUyxRQUFPO0VBQ2QsWUFBQTs7QUFHRixRQUFTLFFBQVE7RUFDZixxQkFBQTtFQUNBLFdBQUE7O0FBR0Y7O0VBRUUsWUFBQTtFQUNBLGFBQUE7O0FBRUY7RUFDRSxtQkFBQTtFQUNFLHNCQUFBO0VBQ0YsWUFBQTtFQUNBLGFBQUE7O0FBRUYsY0FBZSxJQUFHO0VBQ2hCLGNBQUE7RUFDQSxjQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7O0FBRUYsVUFBVyxJQUFHO0VBQ1osa0JBQUE7O0FBRUY7RUFDRSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxZQUFBOztBQUlGLENBQUM7RUFDQyxhQUFBO0VBQ0EsV0FBQTtFQUNBLGNBQUE7RUFDQSxXQUFBO0VBQ0EsY0FBQTtFQUNBLGdCQUFBOztBQUdGLFVBQVcsRUFBQztFQUNWLGNBQUE7O0FBSUY7RUFDRSxXQUFBOztBQUVELFFBQVE7RUFDUCxvQ0FBQTtFQUNBLFdBQUE7RUFDQSxZQUFBOztBQUdGLGVBQWU7RUFFYiwrQkFBQTs7QUFDQSxlQUhhLFFBR1o7RUFDQyxVQUFBOztBQUNBLGVBTFcsUUFHWixTQUVFO0VBQ0MsV0FBQTs7QUFHSixlQVRhLFFBU1o7RUFDQyxXQUFBOztBQUNBLGVBWFcsUUFTWixTQUVFO0VBQ0MsVUFBQSIsImZpbGUiOiJzdHlsZXMvc3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiYm9keSB7XHJcbiAgLy8gYmFja2dyb3VuZDogIzFBMEQwRDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2IoMjQ0LCAyNDQsIDI0NCk7XHJcbiAgY29sb3I6ICNmZmY7XHJcbn1cclxuXHJcblxyXG4vLyAgIENBTlZBUyBcclxuLmNhbnZhc193cmFwcGVyIHtcclxuICBtaW4td2lkdGg6MTAwJTtcclxuICBtaW4taGVpZ2h0OjEwMCU7XHJcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcclxufVxyXG5cclxuXHJcbi8vICAgQ0FOVkFTIE5BVklHQVRPUlxyXG4ubmF2aWdhdG9yIHtcclxuICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgei1pbmRleDogMTAwMDtcclxuICBiYWNrZ3JvdW5kOiAjMjIyO1xyXG4gIG9wYWNpdHk6IDAuNztcclxuICBjb2xvcjpibGFjaztcclxuICBmb250LXNpemU6IDEuNWVtO1xyXG4gIHBhZGRpbmc6MTBweDtcclxufVxyXG5cclxuLy8gICBDQU5WQVMgUk9XU1xyXG5cclxuLmNhbnZhc193cmFwcGVyIC5yb3cge1xyXG4gIC8vIGRpc3BsYXk6IGlubGluZS1mbGV4O1xyXG4gIG1hcmdpbjowO1xyXG59XHJcblxyXG4vLyAgIERSQVdJTkcgU1BPVFMgXHJcblxyXG4uc3BvdF93cmFwcGVyIHtcclxuICBmbG9hdDpsZWZ0O1xyXG4gIC8vIG91dGxpbmU6MXB4IGRvdHRlZCAjY2NjO1xyXG59XHJcbmltZy5kcmF3aW5nIHtcclxuICB3aWR0aDogMTUwcHg7XHJcbiAgaGVpZ2h0OiAxOTRweDtcclxufVxyXG5cclxuLmNhbnZhcyB7XHJcbiAgaGVpZ2h0OjEwMCU7XHJcbn1cclxuXHJcbi5jYW52YXNfc3Vidmlld3Mge1xyXG59XHJcblxyXG4uc3BvdCB7XHJcbiAgd2lkdGg6IDE1MHB4O1xyXG4gIGhlaWdodDogMTk0cHg7XHJcbn1cclxuLmhvdmVyZWQgLnNwb3Rfd3JhcHBlciB7XHJcbiAgYm9yZGVyOiAxcHggc29saWQgIzNEM0QzRDtcclxufVxyXG4uc3BvdF93cmFwcGVyIHtcclxuICB3aWR0aDogMTUwcHg7XHJcbiAgaGVpZ2h0OiAxOTRweDtcclxufVxyXG5cclxuLmRyYXdpbmcuY29ubmVjdGVkIHsgXHJcbiAgYm9yZGVyOiAxcHggc29saWQgIzNEM0QzRDtcclxuICBcclxufVxyXG5cclxuLmRyYXdpbmcge1xyXG4gIGRpc3BsYXk6YmxvY2s7XHJcbiAgd2lkdGg6IDE1MHB4O1xyXG4gIGhlaWdodDogMTk0cHg7XHJcbn1cclxuLmFydGlzdCwgLnRvb2xiYXIge1xyXG4gIGRpc3BsYXk6bm9uZTtcclxufVxyXG5cclxuLmhvdmVyZWQgLmFydGlzdCB7XHJcbiAgZGlzcGxheTogYmxvY2s7XHJcbiAgLyp3aWR0aDoxMjUlOyovXHJcbiAgcGFkZGluZzogNnB4IDZweDtcclxuICBiYWNrZ3JvdW5kOiAjMjcyNzI3O1xyXG4gIGJvcmRlci10b3A6IDFweCBzb2xpZCAjM0QzRDNEO1xyXG4gIG1hcmdpbjo0cHg7XHJcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gIG9wYWNpdHk6MC43O1xyXG59XHJcblxyXG4uaG92ZXJlZCAuYW5jaG9yIHtcclxuICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgZGlzcGxheTpibG9jaztcclxuICB3aWR0aDoxNnB4O1xyXG4gIGhlaWdodDoxNnB4O1xyXG4gIGJhY2tncm91bmQ6IHVybCgnbG9hZGVycy9waW4ucG5nJykgbm8tcmVwZWF0O1xyXG59XHJcblxyXG4uaG92ZXJlZCAudG9vbGJhciB7XHJcbiAgZGlzcGxheTpibG9jaztcclxuICBwb3NpdGlvbjphYnNvbHV0ZTtcclxuICAvLyB1c2UgbGVzcyBwb3NpdGlvblRvb2xiYXJcclxuICB6LWluZGV4OiAxMDA7XHJcbiAgYm90dG9tOjRweDtcclxuICB3aWR0aDoxNTBweDtcclxuICBoZWlnaHQ6IDI4cHg7XHJcbiAgYmFja2dyb3VuZDogIzI3MjcyNztcclxuICBib3JkZXItdG9wOiAxcHggc29saWQgIzNEM0QzRDtcclxuICBsaW5lLWhlaWdodDogMjBweDtcclxuICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICBwYWRkaW5nOiAzcHggNHB4IDRweDtcclxuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIC1tb3otYm94LXNpemluZzogYm9yZGVyLWJveDtcclxuICAtd2Via2l0LWJveC1zaXppbmc6IGJvcmRlci1ib3g7XHJcbn1cclxuXHJcbi5ob3ZlcmVkIC50b29sYmFyIGF7XHJcbiAgY29sb3I6ICNDQ0M7XHJcbiAgZm9udC13ZWlnaHQ6IDMwMDtcclxuICBwYWRkaW5nLWxlZnQ6IDIwcHg7XHJcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG59XHJcbi5ob3ZlcmVkIC50b29sYmFyIGE6aG92ZXJ7XHJcbiAgY29sb3I6ICNmZmZmZjA7XHJcbn1cclxuLmhvdmVyZWQgLmFuY2hvcjpob3ZlciB7XHJcbiAgd2lkdGg6MTZweDtcclxuICBoZWlnaHQ6MTZweDtcclxuICBiYWNrZ3JvdW5kOiB1cmwoJ2xvYWRlcnMvcGluMi5wbmcnKSBuby1yZXBlYXQ7XHJcbn1cclxuXHJcbi5ob3ZlcmVkIC5hcnRpc3Q6aG92ZXIge1xyXG4gIG9wYWNpdHk6MC45O1xyXG59XHJcblxyXG4uaG92ZXJlZCAuYXJ0aXN0IGEge1xyXG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICBjb2xvcjogI0NDQztcclxufVxyXG5cclxuLmRyYXdpbmdGcmFtZSB7XHJcbiAgLypwb3NpdGlvbjphYnNvbHV0ZTsgICovXHJcbiAgd2lkdGg6IDE1MHB4O1xyXG4gIGhlaWdodDogMTk0cHg7XHJcbn1cclxuLmRyYXdpbmdDYW52YXMge1xyXG4gIGRpc3BsYXk6IHRhYmxlLWNlbGw7XHJcbiAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xyXG4gIHdpZHRoOiAxNTBweDtcclxuICBoZWlnaHQ6IDE5NHB4O1xyXG59XHJcbi5kcmF3aW5nQ2FudmFzIGltZy5sb2FkZXIge1xyXG4gIG1hcmdpbjogMCBhdXRvO1xyXG4gIGRpc3BsYXk6YmxvY2s7XHJcbiAgd2lkdGg6MzBweDtcclxuICBoZWlnaHQ6MzBweDtcclxufVxyXG4uY29ubmVjdGVkIGltZy5sb2FkZXIge1xyXG4gIHZpc2liaWxpdHk6aGlkZGVuO1xyXG59XHJcbi5kcmF3aW5nSW5mbyB7XHJcbiAgcG9zaXRpb246YWJzb2x1dGU7XHJcbiAgaGVpZ2h0OjE5NHB4O1xyXG4gIHdpZHRoOjE1MHB4O1xyXG59XHJcblxyXG5cclxuaS5sb2NrZWQge1xyXG4gIGRpc3BsYXk6IG5vbmU7XHJcbiAgY29sb3I6ICMyMjI7XHJcbiAgZm9udC1zaXplOiA4ZW07XHJcbiAgd2lkdGg6IDcycHg7XHJcbiAgbWFyZ2luOiAwIGF1dG87XHJcbiAgbWFyZ2luLXRvcDoyNXB4O1xyXG59XHJcblxyXG4uY29ubmVjdGVkIGkubG9ja2VkIHtcclxuICBkaXNwbGF5OiBibG9jaztcclxufVxyXG4vLyBkcmF3aW5nIGZyYW1lIGFuaW1hdGlvblxyXG4vLyBcclxuLm1vZGFsLXRpdGxlIHtcclxuICBjb2xvcjogIzIyMjtcclxufVxyXG4gLmFtLWZhZGUubW9kYWwtYmFja2Ryb3Age1xyXG4gIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMCwwLDAsMC41KTtcclxuICB3aWR0aDoxMDAlO1xyXG4gIGhlaWdodDoxMDAlO1xyXG59XHJcblxyXG4ubW9kYWwtYmFja2Ryb3AuYW0tZmFkZSB7XHJcbiAgLy8gb3BhY2l0eTogLjU7XHJcbiAgdHJhbnNpdGlvbjogb3BhY2l0eSAuMTVzIGxpbmVhcjtcclxuICAmLm5nLWVudGVyIHtcclxuICAgIG9wYWNpdHk6IDA7XHJcbiAgICAmLm5nLWVudGVyLWFjdGl2ZSB7XHJcbiAgICAgIG9wYWNpdHk6IC41O1xyXG4gICAgfVxyXG4gIH1cclxuICAmLm5nLWxlYXZlIHtcclxuICAgIG9wYWNpdHk6IC41O1xyXG4gICAgJi5uZy1sZWF2ZS1hY3RpdmUge1xyXG4gICAgICBvcGFjaXR5OiAwO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuIl0sInNvdXJjZVJvb3QiOiIvc291cmNlLyJ9 */