<div class="spot_wrapper">
  <div class="drawing">
  <div class="drawingFrame"> 
    <div class="drawingInfo"> 
      <div class="artist"> 
        <a href="#"> 
         [ {{spotOpts.x}},  {{spotOpts.y}} ]
        </a>
      </div>
      <div class="toolbar"> 
        <div class="anchor"> <a href="#" class="connect" ng-click="connectFrame()"> Connect </a> </div>
      </div>
    </div> 
    <div class="drawingCanvas jumbotron-icon">
      <i class="fa fa-lock fa-6 locked"></i>
      <img class="loader" src="css/loaders/3.gif"> 
    </div>
  </div> 
</div>

</div>